body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 240px;
    margin-right: 240px;
}
header {
    background: #ebebeb;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav {
    background: #ebebeb;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
section {
    background: #ebebeb;
    text-align: center;
    display: inline-block;
    width: 495px;
    padding: 10px;
    margin-bottom: 25px;
}
.article {
    background: #777;
    color: #ebebeb;
    padding-bottom: 10px;
    padding-top: 5px;
}
aside {
    background: #ebebeb;
    text-align: center;
    float: right;
    width: 420px;
    height: 273px;
    padding-top: 10px;
    margin-bottom: 25px;
}
footer {
    background: #ebebeb;
    text-align: center;
    padding: 20px; 
}
.example-heading {
    background-color: #ebebeb;
    color: #777;
    width: 450px;
    display: inline-block;
}
.example-p {
    width: 450px;
    color: #777;
    background: #ebebeb;
    display: inline-block;
    margin: 10px;
}